<nav>
    <a href="/">Home</a>
    <a href="/product">Products</a>
    <a href="/detail">Details</a>
    <a class="btn btn-outline-primary" type="submit" style="float: right;" href="/login">Login</a>
    <a class="btn btn-outline-primary" type="submit" style="float: right;" href="/logout">Logout</a>
    </nav>