<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details - Laptop Shop</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Details</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/product">Products</a>
        <a href="/detail">Details</a>
      </nav>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            <div class="row">
              <div class="col">
                <div class="card">
                  <img
                    src="images/1.webp"
                    class="card-img-top"
                    alt="..."
                    width="270px"
                    height="auto"
                  />
                  <div class="card-body">
                    <h5 class="card-title"><%=data.brand%></h5>
                    <p class="card-text">
                     <%=data.description%>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row mb-5">
              <img
                    src="images/1.webp"
                    class="card-img-top"
                    alt="..."
                    width="270px"
                    height="auto"
                  />
            </div>
            <div class="row">
              <img
                    src="images/1.webp"
                    class="card-img-top"
                    alt="..."
                    width="270px"
                    height="auto"
                  />
            </div>
            <!-- <div class="row">row three</div> -->
          </div>
          <div class="col-4">
          <center><h3>Laptop Specifications</h3></center>
          <h4>569.00</h4>
          <table class="table table-borderless">
            <tr>
            <th>Brand</th>
              <td>Model</td>
            </tr>

            <tr>
              <th>Name</th>
              <td>Screen size</td>
            </tr>
          
            <tr>
              <th>Color</th>
              <td>Hard Disk</td>
            </tr>
            
            <tr>
              <th>CPU Model</th>
              <td>Ram</td>
            </tr>
            
            <tr>
              <th>Memory</th>
              <td>Operating system</td>
            </tr>
            
            <tr>
              <th>Graphic card</th>
              <td>Screen size</td>
            </tr>
          
          </table>
          <div>
            
               <a href="#" class="btn btn-secondary btn-block w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy Now</a>
            </div>

          </div>
        </div>
      </div> 
      
      <!--modal  -->

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" class="form-group">
          <label for="name" class="form-label">name</label>
          <input type="text" name="name" id="" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
    </main>
    <footer>
      <p>&copy; 2024 Laptop Shop</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
