<nav class="sidebar" data-trigger="scrollbar">
    <!-- Sidebar Header -->
    <div class="sidebar-header d-none d-lg-block">
       <!-- Sidebar Toggle Pin Button -->
       <div class="sidebar-toogle-pin">
          <i class="icofont-tack-pin"></i>
       </div>
       <!-- End Sidebar Toggle Pin Button -->
    </div>
    <!-- End Sidebar Header -->

    <!-- Sidebar Body -->
    <div class="sidebar-body">
       <!-- Nav -->
       <ul class="nav">
          <li class="nav-category">Main</li>
          <li class="active">
             <a href="/admin">
                <i class="icofont-pie-chart"></i>
                <span class="link-title">Dashboard</span>
             </a>
          </li>
         
          <li class="nav-category">Products</li>
          <li>
             <a href="#">
                <i class="icofont-mail-box"></i>
                <span class="link-title">Laptops</span>
             </a>
             <!-- Sub Menu -->
             <ul class="nav sub-menu">
                <li><a href="/admin/viewlaptops">View Laptops</a></li>
                <li><a href="/admin/addlaptop">Add Laptop</a></li>
                <li><a href="/admin/laptoporders">Orders</a></li>
                <!-- <li><a href="pages/apps/email/compose.html">Compose</a></li> -->
             </ul>
             <!-- End Sub Menu -->
          </li>
          
       <!-- End Nav -->
    </div>
    <!-- End Sidebar Body -->
 </nav>